{% extends "layout.html" %} 

{% block blk_item_list %}
    <h2> {{ category.description }}</h2>
    <ul>
        {% for item in items %}
        <li>
            <a href='/item/view/{{item.id}}'>{{ item.description }}</a>
            {% else %}
            <li>
                <em> No Items </em>
                {% endfor %}

    </ul>
    <div>
        <a href="{{url_for('category_delete' , category_id = category.id)}}" class = "btn btn-danger">Delete</a>
        <a href="#" class = "btn btn-primary">Back</a>
    </div>
{% endblock %}